{% extends 'base.html' %}

{% block title %}
Деревья решений
{% endblock title %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
    document.getElementById("spinner").style.display = "block";
    fetch('/decision-trees/get-decision-trees')
        .then(response => response.json())
        .then(data => {
            document.getElementById("spinner").style.display = "none";
            const images = data.images;
            document.getElementById("image1").src = images[0];
            document.getElementById("image2").src = images[1];
        })
        .catch(error => {
            console.error('Ошибка:', error);
            document.getElementById("spinner").style.display = "none";
            // Ваш код для отображения сообщения об ошибке
        });
    });
</script>
<div class="container">
    <h5 class="mt-5">Задача анализа, решаемая деревьями решений:</h5>
    <p>Произвести классификацию среднего значения заработной платой по характеристикам вакансий.</p>
    <p>Модель дерева решений является одной из наиболее популярных и простых моделей в области машинного обучения.
        Она используется для задач классификации и регрессии, позволяя принимать решения на основе последовательности вопросов и условий.</p>
    <p>
        Структура модели дерева решений представляет собой иерархическую структуру, состоящую из узлов и листьев. Узлы представляют собой вопросы или условия,
        которые разделяют данные на подмножества с различными характеристиками. Листья представляют собой конечные решения или прогнозы.
    </p>

    <p>
        Процесс построения модели дерева решений начинается с выбора наилучшего признака, который будет использоваться для разделения данных на каждом узле.
        Этот выбор осуществляется на основе критериев, таких как информационный выигрыш или неопределенность Джини. Затем данные разделяются на подмножества в
        зависимости от значения выбранного признака. Этот процесс продолжается рекурсивно, пока не будет достигнуто условие остановки, такое как
        достижение определенной глубины дерева или недостаточное количество образцов для разделения.
    </p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div id="spinner" style="display: none;justify-content: center; align-items: center;" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="image-container">
        <p>
            Оценка качества модели дерева решений:
        </p>
        <img id="image1" src="" alt="">
        <p>
            Оценка качества модели дерева решений после удаления наименее важных параметров:
        </p>
        <img id="image2" src="" alt="">
    </div>

    <h5 class="mt-5">Вывод:</h5>
    <p>
        Согласно данным графикам, можно сделать вывод о том, что качество работы модели стало лучше после удаления наименее важных параметров,
        так как кривая стала лежать ближе к левому верхнему краю, чем было изначально.
    </p>
</div>
{% endblock body %}