{% extends 'base.html' %}

{% block title %}
Birch
{% endblock title %}

{% block body %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
    document.getElementById("spinner").style.display = "block";
    fetch('/birch/get-birch')
        .then(response => response.json())
        .then(data => {
            document.getElementById("spinner").style.display = "none";
            const images = data.images;
            document.getElementById("image1").src = images;
        })
        .catch(error => {
            console.error('Ошибка:', error);
            document.getElementById("spinner").style.display = "none";
            // Ваш код для отображения сообщения об ошибке
        });
    });
</script>

<div class="container">
    <h5 class="mt-5">Задача анализа, решаемая алгоритмом Birch:</h5>
    <p>Выделение стран с похожими характеристиками вакансий с помощью моделей кластеризации.</p>
    <p>
        Алгоритм BIRCH выполняет следующие шаги:
    </p>
    <p>1.	Построение CF-дерева. Сначала строится CF-дерево (Clustering Feature Tree) из исходного набора данных. CF-дерево представляет собой иерархическую структуру, где каждый узел представляет кластер и содержит информацию о средних значениях и сумме квадратов отклонений точек в этом кластере.
    </p>
    <p>2.	Объединение и разделение. Во время построения CF-дерева происходят операции объединения и разделения. При объединении два близких кластера объединяются в один, а при разделении большие кластеры разделяются на более мелкие. Это позволяет сохранять баланс между размерами кластеров и уменьшать вычислительную сложность алгоритма.
    </p>
    <p>3.	Поиск кластеров. После построения CF-дерева выполняется проход по нему для поиска кластеров. Это может быть выполнено с использованием различных критериев, таких как расстояние между кластерами или плотность точек в кластере.
    </p>
    <p>4.	Формирование кластеров. Найденные кластеры могут быть сформированы на основе CF-дерева. В каждом узле CF-дерева содержится информация о точках, принадлежащих этому кластеру, а также о средних значениях и отклонениях. Эти данные могут быть использованы для определения центроидов кластеров.
    </p>
     <div style="display: flex; justify-content: center; align-items: center;">
        <div id="spinner" style="display: none;justify-content: center; align-items: center;" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div id="image-container">
        <p>
            Оценка качества модели BIRCH:
        </p>
        <img id="image1" src="" alt="">
    </div>
    <h5 class="mt-5">Вывод:</h5>
    <p>
        Коэффициент силуэта имеет низкое значение, что указывает на то, что кластеризация данных, для которой был рассчитан этот коэффициент, имеет относительно низкую степень качества или схожести между кластерами. Кластеры не слишком хорошо разделены и имеют некоторую степень перекрытия или нечеткости.
    </p>
</div>
{% endblock body %}